  <!-- popup -->

  <input type="hidden" id="popup" data-toggle="modal" data-target="#myModal">


  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
          <h4 class="modal-title">ANNOUNCEMENTS</h4>
        </div>
        <div class="modal-body">
          <ul>
            {% for i in popup_notice %}
            <li style="margin: 6%; text-align:justify;">{{i.text|safe}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- popup html -->


  <script type="text/javascript">
    //popup script
    document.getElementById("popup").click();
  </script>
