{% extends "home/index.html" %}

{% block start %}

<div class="col-md-8 rest">
  <!-- mission-->
  <h1 style="text-align: center;">Vision and Mission</h1>
  <hr style="background: black;" />
  <h3 style="text-decoration: underline;">Vision &nbsp;&nbsp;</h3>
  <br/>
  <blockquote>
    “To be globally acclaimed Institute in Technical Education and rural technological Research that provides
    a transformative education to create innovators and leaders that serves for the betterment of the society
    and humanity at large”.
  </blockquote>

  <!-- mission-->

  <h3 style="text-decoration: underline;">Mission &nbsp;&nbsp;</h3>
  <br/>
  <blockquote>
    <ul>
      <li>To impart quality education with values and equip students to learn
        and apply technology in service to humanity.
      </li>
      <li>To build and maintain world-class infrastructure and adopt modern
        automation technologies for the purpose of organizational efficiency.
      </li>
      <li>To design the education through a continuous process so that the students
        qualifying from the institute have the top rating in placement.
      </li>
      <li> To create an ambiance for healthy teaching-learning process and initiate research & developments.
      </li>
    </ul>
  </blockquote>
</div>



{% endblock %}
