{% extends "home/index.html" %}

{% block start %}


<div class="col-md-8 rest">
        <h1>RTI Act</h1>
        <hr />
        <h3><a href="{% url "director" %}">RTI Officer : Dr. Vimal Mishra , Director I.E.R.T. , Allahabad</a></h3>
        <h3>Assistant RTI Officer : Santosh Kumar Gupta , (+91)-7985877187</h3>
        <hr />
        <h2>downloads</h2>
        <hr />
        <b><a href="pdf/rti1.pdf">THE RIGHT TO INFORMATION ACT, 2005(English)</a><br/>
           <a href="pdf/rtrti2.pdf">THE RIGHT TO INFORMATION ACT, 2005(Hindi)</a></b>

      </div>





{% endblock %}
