{% extends "home/index.html" %}
{% load static %}

{% block start %}


<div class="col-md-8" style="border: solid black 1px; ">
        <h1 style="text-align: center;">About Us</h1>
        <hr />
        <div style="text-align: justify;font-size: 15px;">
          <img src="{% static "home/img/dip.jpeg" %}" height="200" width="300" class="img-responsive img-thumbnail" style="float: left;padding: 10px;margin: 10px; border: 1px solid lightgrey; box-sizing: content-box;"/>
          <blockquote style="font-size: 17px">
            <b>Address :</b> 26, Chatham Line, Dharhariya, Prayagraj, Uttar Pradesh 211002<br/>
            <b>Campus :</b> Urban 26.5-acre (107,000 m2)<br/>
            <b>Director : </b>Dr. Vimal Mishra<br/>
            <b>Founded :</b> 1955<br/>
            <b>Motto :</b> Work Is Worship<br/>
            <b>Phone :</b> 0532 254 4563<br/>
          </blockquote>
            In 1955, Civil Engineering School was started by a society named “Institute of Engineering & Technology”. Late Shanker Saran, retired judge Hon'ble High Court of Allahabad and Late Vishwamitra an advocate were respectively the President
            and Secretary of the society. It was the first Polytechnic to be started in Asia.
            <br/>
          In 1962, Uttar Pradesh Government took over this Institute by constituting a registered society named “Allahabad Polytechnic, Allahabad”. The society constituted a Managing Committee consisting of 11 members to manage affairs of the
          Polytechnic. The state government awarded the status of grant in aid to the Institute. The rules and by-laws of the society were accordingly framed and the Director of Technical Education, U.P. became ex-officio Secretary of Management
          Committee.
            <br/>
          In 1982, after reviewing the multifarious activities and the achievements of the institute, the U.P. Government changed the name of “Allahabad Polytechnic” to “Institute of Engineering and Rural Technology (IERT)”. Subsequently, the
          Institute was awarded Academic Autonomy by the State Government.
            <br/>
          The Engineering Degree Division of IERT was established in 2001 and currently, it is affiliated with Dr. A. P. J. Abdul Kalam Technical University (AKTU), formerly known as Uttar Pradesh Technical University, Lucknow, and U.P.
            <br/>
          IERT offers B. Tech course in seven disciplines: Civil Engineering, Computer Science & Engineering, Electrical Engineering, Electronics Engineering, Industrial & Production Engineering, Instrumentation & Control Engineering and Mechanical
          Engineering.
            <br/>
          The campus of IERT spreads over 26.5 acres of land. It has separate hostel and mess facilities for boys and girls including 24-hour generator facility, telephone, and other necessary amenities. The college has well-equipped labs with
          modern equipment. Its computer lab own latest computers, software and application development tools, etc. It has a sizable library, consisting of a huge collection of books on engineering and several other subjects.

        </div>

            <br/>
            <br/>
            <center>
              <a href="https://www.google.co.in/maps/dir//iert/@25.4722527,81.7998566,12z/data=!3m1!4b1!4m9!4m8!1m1!4e2!1m5!1m1!1s0x399aca86aaaaaaab:0x7fce282beaac48d1!2m2!1d81.8698969!2d25.4722693" class="button" target="_blank">Directions >> </a>
            </center>
            <br/>
            <br/>

        </div>







{% endblock %}
