{% extends "home/index.html" %}
{% load static %}
{% block start %}

<div class="col-md-8" style="border:1px solid black; padding: 3%;">
<center><h1>Banking</h1></center>
<hr/>
<p style="font-size: 2rem;">
The campus has good banking facility with ATM for all the students and staffs.
<br/>
<ul style="font-size: 2rem; margin: 3%;">
<li>Bank Name :                ALLAHABAD BANK</li>
<li>Branch :                       POLYTECHNIC</li>
<li>Branch Code :               210520</li>
<li>IFSC Code :                  ALLA0210520 (used for RTGS and NEFT transactions)</li>
<li>MICR Code :                 211012001</li>
<li>Address :                     IERT Campus, Prayag Station Crossing, Dist. Allahabad Uttar Pradesh -  211002</li>
<li>Ph No :                        (+91)-0532-2645146</li>
</ul>
</p>





</div>

{% endblock %}
