{% extends "home/index.html" %}
{% load static %}
{% block start %}

<div class="col-md-8" style="border:1px solid black">
  <center>
    <h1>Central Library</h1>
  </center>
  <hr />
  <p>
    A library is an important asset for any center of higher learning which provides services and facilities to meet the requirements of teaching & learning, research & development, and consultancy programs. Hence, efforts are always directed
    towards
    creating a very rich library having all important national and international journals/ newspapers, encyclopedia, and magazines, etc.
    <br />
    These libraries are a physical manifestation of our vision to distinguish the college as a center of resource in the knowledge era. The libraries aim to fulfill the crucial role of supporting learning and teaching activities to all members of
    the
    institute. As per AICTE norms, the central library of IERT has 4207 titles and 21204 volumes.
  </p>
  <br />
  <center>
    <img src="{% static 'home/img/c7.png' %}" style="width: 15rem; height: 15rem; margin: 2%;" />
    <img src="{% static 'home/img/c1.png' %}" style="width: 15rem; height: 15rem; margin: 2%;" />
    <img src="{% static 'home/img/c2.png' %}" style="width: 15rem; height: 15rem; margin: 2%;" />
    <img src="{% static 'home/img/c3.png' %}" style="width: 15rem; height: 15rem; margin: 2%;" />
  </center>
  <br />
</div>
{% endblock %}
