{% extends "home/index.html" %}
{% load crispy_forms_tags %}


{% block start %}
<div class="col-md-8" style="border:1px solid black;">
  <center>
    <h2>Contact us</h2>
  <hr />
  <div style="font-size:20px;text-align:center;">
    <b>Institute of Engineering and Rural Technology
    <br/>
    अभियांत्रिकी एवं ग्रामीण प्रौद्योगिकी संस्थान</b>
    <hr />
    <hr />
    <br/>
      <div>
        26, Chatham line , Allahabad , UP - 211002 , INDIA
        <br/>
        Ph & Fax : (+91)-0532-2544810; (+91)-9956640825 (Assistant Registrar)
        <br/>
        <br/>
       College id- mailedd@iert.ac.in
        <br/>
        <hr />
        <br/>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3601.9820710486138!2d81.86770821446189!3d25.472274126737297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399aca86aaaaaaab%3A0x7fce282beaac48d1!2sInstitute+of+Engineering+and+Rural+Technology!5e0!3m2!1sen!2sus!4v1540188037876" width="700" height="400" frameborder="1" style="border:1px solid lightgrey;" allowfullscreen></iframe>
      </div>
        <br/>
        <br/>
  </div>
</div>
<br>
<br>
<div style="font-style:bold;font-family: fantasy;  font-size:3rem;">leave a message </div>
<form  method="post" style="border:1px solid black; margin: 1rem; text-align:center;" >
  {% csrf_token %}
  <div style="padding:4%;">
  {{form|crispy}}
</div>

  <button type="submit" class="btn btn-primary" style="margin: 2%;"><i><span class="glyphicon glyphicon-send"></span> &nbsp; submit</i></button>
</form>
<br/>
<br/>
</center>
</div>

{% endblock %}
