{% extends "home/index.html" %}


{% block start %}
<style>
td:hover{
  background: lightblue;
  height: 30%;
  width: 30%;
  font-size: 2rem;
}
</style>

  <div class="col-md-8 rest">
    <h1 class="dtitle" style="font-size: 4rem ; font-family: serif; font-weight: bold; text-align: center;">{{branch}}</h1>
    <hr/>
    <br/>
    <div style="font-size: 2rem ;">{{info|safe}}</div>
    <h2 style="font-size: 4rem ;">vision</h2>
    <hr/>
    <div style="font-size: 2rem ;">{{vision|safe}}</div>
    <h2 style="font-size: 4rem ;">mission</h2>
    <hr/>
    <div style="font-size: 2rem ;">{{mission|safe}}</div>
    <hr/>
  </div>


{% endblock %}
