{% extends "home/index.html" %}
{% load static %}


{% block start %}

<div class="col-md-8 rest">
  <center>
    <h1>Hostel</h1>
  </center>
  <hr />
  <p style="font-size: 2rem;">There are three Boys and two Girls hostels at present in the Institute.
    Room allotment is done in such a way that students from different parts of country freely intermingle with each other depicting national integration.<br />
    Hostel messes are run no profit no loss basis. The messes are managed by nominated representatives of students under the overall supervisions of wardens.<br />
    The newly admitted boys students are kept in separate hostels away from senior students to avoid ragging.
    The hostel administration grants financial assistance to meet the mess bills to many needy students.</p>
  <hr />
  <h4>Boys Hostel</h4>
  <hr />
  <h4> warden Contact info :</h4>
  <div style="margin: 50px; border: 1px solid black" class="shade">
    <img src="{% static "home/img/ibdsir.jpg" %}" height="100px" width="100px" class="img-responsive" style="float:left; margin: 50px;" />
    <div style="text-align: left; margin:50px;">
      <h3>Mr.Indu Bhushan Dubey</h3>
      <span>Designation : Warden Boys Hostel(Ayodhya Hostel)</span>
      <br />
      <span>Qualification : M.Tech. (Software Engineering)</span>
      <br />
      <span>Department : Engg.Degree. Division</span>
      <br />
      <span>Phone No. : +91-9335159209</span>
      <br />
      <span>Email : <a> idubey@iert.ac.in</a></span>
    </div>
  </div>
  <ol>
    <h4 style="text-decoration: underline">facility provided &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
    <li>PCO for STD/Local calls.</li>
    <li>Generator, which in case of power failure provides electricity to the hostels.</li>
  </ol>
  <hr />
  <h4>Girls Hostel</h4>
  <hr />
  <h4> warden Contact info :</h4>
  <div style="margin: 50px; border: 1px solid black" class="shade">
    <img src="{% static "home/img/warden.jpeg" %}" height="100px" width="100px" class="img-responsive" style="float:left; margin: 50px;" />
    <div style="text-align: left; margin:50px;">
      <h3>Mrs. Arti Mojumdar </h3>
      <span>Designation : Warden Girls Hostel</span>
      <br />
      <span>Qualification : Graduate</span>
      <span>Department : Engg.Degree. Division</span>
      <br />
      <span>Phone No. : +91- 80814 86422</span>
      <br />
      <span>Email : <a>artimajumdar@iert.ac.in</a></span>
    </div>
  </div>
  <ol>
    <h4 style="text-decoration: underline">facility provided &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
    <ol>
      <li>Generator, which in case of power failures provides electricity to the mess and the common room.</li>
      <li>Provisional goods store in the hostel premises.</li>
      <li>Intercom line.</l>
      <li>Water cooler ..</li>
    </ol>
    <br />
    <br />

</div>



{% endblock %}
