{% extends "home/index.html" %}
{% load static %}
{% block start %}

<div class="col-md-8" style="border:1px solid black">
  <center>
    <h1>Reference Library</h1>
  </center>
  <hr />
  <p>
     The reference library was founded in 2001 with the establishment of I.E.R.T. to provide a complete information. It has been catering to the need of students of undergraduates, faculty members, and staff members of the departments of the institute. The Library is well equipped as per AKTU norms and contains all modern resources. It has a collection of numerous books and documents. In addition, it has relevant technical magazines for offering many benefits to the students and faculties as well.
  </p>
  <br />
  <center>
    <img src="{% static 'home/img/r1.png' %}" style="width: 15rem; height: 15rem; margin: 2%;" />
    <img src="{% static 'home/img/c1.png' %}" style="width: 15rem; height: 15rem; margin: 2%;" />
    <img src="{% static 'home/img/r2.png' %}" style="width: 15rem; height: 15rem; margin: 2%;" />
    <img src="{% static 'home/img/c2.png' %}" style="width: 15rem; height: 15rem; margin: 2%;" />
  </center>
  <br />
</div>
{% endblock %}
