{% extends "home/index.html" %}
{% block start %}

<div class="col-md-8" style="border: 1px solid black">
      <h1><center>U G Programme</center></h1>
      <hr />
      <h3> DEGREE COURSES (4 years)</h3>
      <h4>
        <br/>
         <ol>
           <li><a href="#">B.Tech in Computer Science and Engineering (Intake 60)</a></li>
           <br/>
           <li><a href="#">B.Tech in Electronics Engineering (Intake 60)</a></li>
           <br/>
           <li><a href="#">B.Tech in Industrial & Production Engineering (Intake 45)</a></li>
           <br/>
           <li><a href="#">B.Tech in Electrical Engineering (Intake 60)</a></li>
           <br/>
           <li><a href="#">B.Tech in Civil Engineering (Intake 60)</a></li>
           <br/>
           <li><a href="#">B.Tech in Instrumentation & Control Engineering (Intake 60)</a></li>
           <br/>
           <li><a href="#">B.Tech in Mechanical Engineering (Intake 60)</a></li>
           <br/>

         </ol>
       </h4>
    </div>


{% endblock %}
