{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block side %}
{% endblock %}
{% block start %}

<div class="row">
  <center>
<div class="content-section col-md-8 col-md-offset-2">
  <center style="margin-top:7%"><h1><b><i>password reset</i></b></h1></center>
  <hr/>
  <form method="POST" class="single_box_contant">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy }}
    </fieldset>
   <center>
    <button style="background: black; font-size: 1.5rem; padding:3%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> reset password</button>
  </center>
  </form>
</div>
</center>
</div>

{% endblock start %}
