{% extends "home/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block side %}
{% endblock %}

{% block start %}

  <!--style -->
  <style>
  .like_button{
    background: white;
    color: red;
    border: 0px;
  }
  .dislike_button{
    background: white;
    color: grey;
    border: 0px;
  }
  button:hover{
    color: lightblue;
  }

  article{
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),
                   0 6px 20px 0 rgba(0,0,0,0.39);
       margin-bottom : 6%;
       border-radius: 25px;
       background: white;
       padding : 5%;
       overflow: auto;
       text-overflow: ellipsis;
  }
.form_article_sumit{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),
              0 6px 20px 0 rgba(0,0,0,0.39);
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  margin-top: -1%;
  font-family: cursive;
  color:black;
  padding:4%;
}
.comment:hover{
  color: lightblue;
}

  </style>


  <!-- news -->
  <div class="row">
    <div class="col-md-8">
      {% for i in news %}
      <article>
        <div class="title">
          <!-- title here -->
          <h1>{{i.title}}</h1>
           {{i.date}}
            <br/>
            {{i.author}}
        </div>
        <hr/>
        {% if i.image.url != '/media/def.png' %}
                 <img src="{{ i.image.url }}"  class="img-responsive img-thumbnail" alt="image not here" height="40%" width="100%" />
              <hr/>
        {% endif %}

        <div class="info">
          <!--info -->
          {{i.info|safe}}
        </div>
        <hr/>
        <b style="float: left; font-size: 2rem;"><i>{{ i.likes.count }} &nbsp;</i></b>
        <div id="like-section" style="float: left;">
          {% include 'iert_news/like_button.html' %}
        </div>
        <b style="float: left; font-size: 2rem; "><i> &nbsp;&nbsp;&nbsp;{{ i.no_of_comment }} &nbsp;</i></b>
        <a href="{% url "new_comments" id=i.id %}" value="{{ i.id }}" style="text-decoration: none; color: black; background: white; border: 0px;" > &nbsp;&nbsp;<i class="fa fa-comment-o comment" style="font-size:24px"></i></a>
      </article>
      <br/>
      <hr/>
      {% endfor %}
    </div>

    <!--____________________________________________________-->
   <br/>
    <div class="col-md-4">
          <!-- form -->

          <form method="POST" class="form_article_sumit" enctype="multipart/form-data" style="background: white;">

            {% csrf_token %}
            <h2><b><i>send us news</i></b></h2>
            <hr style="background-color: black;  border: 1px solid black;"/>

              {{form|crispy}}

              <input type="submit" style="padding: 1rem; font-size: 2rem; border: 1px solid black; border-radius: 10%;" value="submit" />
        </form>
    </div>
  </div>
{% endblock %}
