


html,
body {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

header .upper_title {
  color: white;
  background-color: black;
  padding: 1%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  z-index: 1;
  font-family: serif;
  font-weight: bold;
}

.sidebar a:hover {
  text-align: left;
  background-color: lightblue;
}

marquee a:hover {
  text-decoration: none;
  color: red;
}

marquee a:active {
  color: green;
}

/* director */
div .dir {
  margin: 4px;
  border: 1px solid black;
  float: left;
  background: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 55%;
  display: block;
}

div .dir img {
  width: 100%;
  border: 1px solid black;
  height: auto;
}

div .dir img:hover {
  border: 1px solid lightblue;

}

div .desc {
  padding: 15px;
  text-align: center;
}

.testcase {
  margin-top: 11rem;
}

@media only screen and (max-width: 762px) {
  div.dir {
    display: none;
  }

  .testcase {
    margin-top: 0;
  }

  .mobile_margin {
    margin-top: -5%;
  }

  .sidebar {
    display: none;
  }

  .mobilecenter {
    text-align: center;
    overflow: auto;
  }

  .notice_box{
    margin-top: 12%;
  }

  .rest {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    margin: 5%;
    position: relative;
    height: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.rest {
  background: white;
  border: solid 5px white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
  min-height: 100%;
  height: 100%;
  margin-top: 3%;
}

.rest a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.rest a:hover {
  color: lightblue;
  text-decoration: none;
}

form {
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.topic {
  margin: 1rem;
}

.text {
  margin: 1rem;
}

form button {
  text-align: center;
  font-style: italic;
}

footer{
  margin-top: 10%;
  min-width: 100%;
  position: relative;
  bottom: 0;
}
