{% extends "home/index.html" %}
{% load static %}
{% block side %}
{% endblock %}

{% block start %}

<style>


@media only screen and (max-width: 762px){
  .background{
    margin-top:20%;
  }
  .rest{
    margin:-5%;
  }
}

.background{
  margin-left:3%;
  margin-right:3%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}


</style>
<div class="row background">
<div class="rest" >
  <center><h1>{{title}}</h1></center>
  <hr/>
<center>

{% if data %}
 {% for data in data %}
  <div class="flip-card" style="float: left; width:300px; height:300px; margin: 3%;">
    <div class="flip-card-inner">
      <div class="flip-card-front">

          {% if data.img %}
           <img src="../media/profile_pics/default.jpg"  class="img-responsive img-thumbnail" style="width:300px; height:300px; " />
           {% else %}
           <img src="{{ data.image.url }}""  class="img-responsive img-thumbnail" style="width:300px; height:300px; " />
           {% endif %}


      </div>
      <div class="flip-card-back" style="width:300px; height:300px;" >

        <h1>{{data.name}}</h1>
        <hr/>
        <p>{{data.Designation}}</p>
        <p>{{data.branch}}</p>
        <p>{{data.Qualification}}</p>
        <p>{{data.Phone}}</p>
        <p>{{data.email}}</p>

      </div>
    </div>
  </div>
{% endfor %}
{% endif %}

</center>

</div>

</div>



{% endblock %}
