{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block side %}
{% endblock %}
{% block start %}

<div class="row">
  <center>
<div class="content-section col-md-8 col-md-offset-2" style=" padding:3%; margin-top:6rem; margin-bottom: 10rem ;border: 1px solid black; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),  0 6px 20px 0 rgba(0,0,0,0.39); border-radius: 20px;">
  <center><h1><b><i>password reset</i></b></h1></center>
  <hr/>
  <form method="POST" style="border:0; margin: 4%;">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy }}
      {{form.errors}}
    </fieldset>
   <center>
    <button style="background: black; font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; request password reset</button>
  </center>
  </form>
</div>
</center>
</div>

{% endblock start %}
