{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block side %}
{% endblock %}
{% block start %}
<center><h1><ins> &nbsp; &nbsp; &nbsp; update your profile &nbsp; &nbsp; &nbsp;</ins></h1></center>
<form method="POST" enctype="multipart/form-data" style="padding:3%; margin: 2%;">
  {% csrf_token %}

       {{p_form|crispy}}
       {{pd_form|crispy}}
       {{u_form|crispy}}

  <center>
    <button style="background: black; color:white; font-size: 1.5rem;" class="btn btn-outline-info" type="sumbit"><span class="glyphicon glyphicon-saved"></span> &nbsp; update</button>
  </center>
</form>
{% endblock %}
