{% extends "home/index.html" %}
{% load static %}
{% block side %}
{% endblock %}
{% block start %}
<style media="screen">
  video {
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
      0 6px 20px 0 rgba(0, 0, 0, 0.39);
    border: 3px solid lightgrey;
    margin: 0 auto;
    margin-bottom: 3%;
    float: none;
    /* on mobile 20% margin need*/
  }

  .first {
    margin-top: 15%;
  }

  .profile_img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
      0 6px 20px 0 rgba(0, 0, 0, 0.39);
    border-radius: 50%;
    border: 5px solid lightgrey;
    transform: translateY(-50%);
    margin: 0 auto;
    display: block;
    height: 25rem;
    width: 25rem;
    float: none;
    margin-bottom: -15%;
  }

  .info {
    margin-top: 5%;
  }

  .info h1 {
    font-style: italic;
    font-family: cursive;
    font-weight: bold;
  }

  .info .item {
    font-size: 2rem;
  }

  .info .item-title {
    font-size: 3rem;
  }

  .button_style {
    font-size: 2rem;
  }

  .announcement h2 {
    font-size: 4rem;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
  }

  @media only screen and (max-width: 762px) {
    .teacher_box img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      min-width: 50%;
      margin: 5%;
      position: relative;
      height: 100%;
      left: 0;
      right: 0;
    }

    .teacher_box {
      text-align: center;

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
        0 6px 20px 0 rgba(0, 0, 0, 0.39);
    }

    .first {
      margin-top: 45%;
    }

    .buttons_aktu{
      margin-top:10%;

    }
  }

  .teacher_box {
    display: block;
    width: 80%;
    padding: 5%;
    margin: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
      0 6px 20px 0 rgba(0, 0, 0, 0.39);
    background: lightblue;
    border: 1px solid black;
  }

  .teacher_box img {
    width: 200px;
    margin-right: 20%;
    height: 200px;
    float: left;
  }
</style>

<video loop autoplay muted>
  <source src="{% static 'video/Video_1.mp4' %}" type="video/mp4">
</video>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 card first">
      <img class="rounded-circle profile_img img-fluid" src="{{user.profile.image.url}}" />
      <h2 style="text-align:center;font-size: 4rem;">{{user.username}}</h2>
      <div class="info">
        <h1 class="item-title">about</h1>
        <hr style="border: 1px solid black;" width="50%" align="left" />
        <div class="item"><b>name : </b>{{user.first_name}} {{user.last_name}}</div>
        <div class="item"><b>email : </b>{{user.email}}</div>
        <div class="item"><b>aktu roll_no : </b>{{user.user_details.roll_no}}</div>
        <div class="item"><b>branch : </b>{{user.user_details.branch}}</div>
        <div class="item"><b>year : </b>{{user.user_details.year}}</div>
        <div class="item"><b>phone : </b>{{user.user_details.phone_no}}</div>
        <div class="item"><b>date of birth : </b>{{user.user_details.date_of_birth}}</div>
        <hr />
        <!--button for update profile-->
        <a href="{% url 'Profile_update' %}" style="font-family: cursive; float: right;" class="btn btn-primary button_style"><i><span class="glyphicon glyphicon-pencil"></span> &nbsp; update profile</i></a>
        <!--_______________________-->
        <br />
        <br />
      </div>
      <center class="buttons_aktu">
        <a href="https://erp.aktu.ac.in/WebPages/OneView/OneView.aspx" class="btn btn-danger" style="width: 40%; color: white; padding:2%; float: left; margin:3%; overflow: hidden;">check you result</a>
        <a href="https://erp.aktu.ac.in/WebPages/OneView/OneView.aspx" class="btn btn-info" style="width: 40%; color: white; padding:2%; margin:3%; overflow: hidden;">UPTU syllabus</a>
      </center>
    </div>
  </div>

  <!-- notices -->
  {% if notices %}
  <div class="row">
    <div class="col-md-8 card">
      <div class="announcement">
        <center>
          <h2>announcement</h2>
        </center>
        {% for i in notices %}
        <div class="info">
          <h3>{{i.topic|safe}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
          <sup class="text-muted">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{i.date|safe}}
          </sup>
          <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{i.topic|safe}}
          </h4>
        </div>
        <hr />
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  <!-- teacher you need -->
  {% if teacher %}
  <div class="row">
    <div class="col-md-8 card">
      <div class="teacher">
        <h2 style="text-align: center; font-family: cursive; font-weight: bold; text-decoration: underline;"> &nbsp; teacher you need &nbsp; </h2>
        {% for i in teacher %}
        <div class="teacher_box">
          <img src="{{ i.image.url }}" class="img-responsive img-thumbnail" />
          <div class="teacher_info">
            <h1>{{i.name}}</h1>
            <p>{{i.Designation}}</p>
            <p>{{i.Qualification}}</p>
            <p>{{i.Phone}}</p>
            <p>{{i.email}}</p>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>

  {% endif %}
</div>


{% endblock %}
