body{
  background-color: gray;
}

header .upper_title{
  color: white;
  background-color: black;
  padding: 1%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  z-index: 1;
  font-family: serif;
  font-weight: bold;
}

.sidebar a:hover{
   text-align: left;
   background-color: lightblue;
}

/* director */

div.dir {
  margin: 4px;
  border: 1px solid black;
  float: left;
  background: #f2f2f2;
  width: 250px;
  background: white;
  display: block;
}

div.dir img {
  width: 100%;
  border: 1px solid black;
  height: auto;
}
div.dir img:hover{
  border: 1px solid lightblue;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.testcase{
  margin-top:9rem;
}


@media only screen and (max-width: 762px) {
  div.dir {
    display: none;
  }
  .testcase{
    margin-top: 0;
  }

.sidebar{
    display: none;
  }

}


.rest a{
  color:black;
  text-align: center;

}
.rest a:hover{
  color: red;
  text-decoration: none;
}

.rest img:hover{
   height: 200;
   width: 400;

}


form{
  border: 1px solid black;
}

.topic{
  margin: 1rem;
}

.text{
  margin: 1rem;
}

form button{
  text-align: center;
  font-style: italic;

}
