{% extends "home/index.html" %}

{% block start %}

<div class="col-md-8 rest" style="border: solid black 1px; ">
        <h1 style="text-align: center;">About City</h1>
        <h3>Allahabad (&nbsp;इलाहाबाद )</h3>
        <hr />
        <div style="text-align: justify;font-size: 15px;">
          Allahabad is the oldest living city in India after Varanasi. The city is the Judicial capital of Uttar Pradesh with Allahabad High Court being the highest judicial body in the state. As of 2011, Allahabad is the seventh most populous city
          in the state, twelfth in Northern India and thirty-sixth in India, with an estimated population of 1.11 million in the city and 1.21 million in its metropolitan region.
        </div>
        <br/>

        <!-- google map -->
        <center>
          <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3601.9820710486138!2d81.86770821446189!3d25.472274126737297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399aca86aaaaaaab%3A0x7fce282beaac48d1!2sInstitute+of+Engineering+and+Rural+Technology!5e0!3m2!1sen!2sus!4v1540188037876" width="750" height="400" frameborder="1px" style="border:1px solid lightgrey;" allowfullscreen></iframe>
        </div>
        </center>
        <!--till here-->


        <blockquote>
          Coordinates: 25.45 N 81.85 E
          <br/>
          Area : 63.07 Sq. km.
          <br/>
          Population : 4,941,510 (2001 census)
          <br/>
          Languages : Hindi, English, Urdu.
          <br/>
          Festivals : Magh Mela, Kumbh Mela, Ardh Kumb Mela, Dussehra.
          <br/>
          Local Transport : Taxis, Buses, Rikshaws.
          <br/>
          STD Code : 0532
        </blockquote>
          <br>
          <h3>Allahabad By Air</h3>
          <hr />
          Allahabad has its own domestic airport named Bamrauli airport which is 15 km away from the heart of the city. The airport is connected to metros like Delhi, Kolkata, and Lucknow. Airport to city taxi charge is about Rs 400/-. Abroad
          travelers need to get connecting flights from Delhi or Kolkata.
          <h3>Allahabad By Bus</h3>
          <hr />
          UPSRTC buses give service to most of the cities in Uttar Pradesh. From Allahabad bus services are available to Delhi (650 km) and Kolkata (800 km).
          <h3>Allahabad By Train</h3>
          <hr />
          Allahabad has a major railway station in the heart of the city and is well connected to all the important cities in India.
          <br/>
          <hr />
          <br/>
      </div>

{% endblock %}
