{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block side %}
{% endblock %}
{% block start %}

<div class="row" style="min-height:100%; height:100%;">
  <center>
<div class="content-section col-md-8 col-md-offset-2" >
  <center style="margin-top:7%;"><h1><b><i>password reset</i></b></h1></center>
  <hr/>
  <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy }}
      {{form.errors}}
    </fieldset>
   <center>
    <button style="background: black; font-size: 1.5rem; color:white; padding:4%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; request password reset</button>
  </center>
  </form>
</div>
</center>
</div>

{% endblock start %}
