{% extends "home/index.html" %}
{% load static %}

{% block start %}


<div class="col-md-8 rest">
  <h2 style="text-align: center;">Anti Ragging</h2>
  <hr />
  <center><img src="{% static "home/img/anti.jpg" %}"  width="300" class="img-responsive"/></center>
  <br/>
  <h3>Important Links</h3>
  <hr/>
  <ul style=" text-align: left;">
    <li><a href="https://www.ugc.ac.in/page/Ragging-Related-Circulars.aspx">Ragging Related UGC Circulars</a></li>
    <br/>
    <li><a href="pdf/uni.pdf">University Circular</a></li>
    <br/>
    <li><a href="pdf/af.pdf">Anti-Ragging Affidavit</a></li>
    <br/>
    <li><a href="https://amanmovement.org/amanmovement/">Amanmovement.org</a></li>
    <br/>
    <li><a href="http://www.antiragging.in/">Antiragging.in</a></li>
    <br/>
    <li><a href="#">Anti-Ragging Cell </a></li>
  </ul>


</div>




{% endblock %}
