{% extends "home/index.html" %}

{% block start %}

<style>
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
</style>

<div class="col-md-8 rest">
  <h1>
    <center>Faculty Corner</center>
  </h1>
  <hr />
  <h4>
    <a href="#">-> Regarding submission of sessional marks of even semesters for the Session 2017-18</a>
    <br />
    <br />
    <a href="#">-> Faculty leave form</a>
  </h4>
  <hr />

  <h2 style="text-align: center; font-family: cursive; font-weight: bold; text-decoration: underline;"> &nbsp; Faculty here &nbsp; </h2>
  {% for i in fac %}
  <div class="flip-card" style="float: left; width:300px; height:300px;  margin: 2%;">
    <div class="flip-card-inner">
      <div class="flip-card-front">

        {% if i.image.url != '/media/def.png' %}
        <a href="{{i.image.url}}" target="_blank">
          <img src="{{ i.image.url }}" class="img-responsive img-thumbnail" style="width:300px; height:300px; " alt="can't find image"/>
        </a>
        {% endif %}

      </div>
      <div class="flip-card-back" style="width:300px; height:300px;">
        <h1>{{i.name}}</h1>
        <p>{{i.Designation}}</p>
        <p>{{i.branch}}</p>
        <p>{{i.Qualification}}</p>
        <p>{{i.Phone}}</p>
        <p>{{i.email}}</p>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
