{% extends "home/index.html" %}
{% load static %}


{% block side %}
{% endblock %}

{% block start %}


<style media="screen">
  body{
    background:#1f292d;
  }
  .card img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
      0 6px 20px 0 rgba(0, 0, 0, 0.39);
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    float: none;
    padding: 0;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin-bottom: -20%;
    transform: translateY(-50%);
  }

  .card h2{
    margin-top:-5%;
    font-size:4rem;
    font-family:cursive;
  }

  .card h3{
    font-size:2rem;
  }
  .card {
    background: #f2f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 40%;
    margin: 2%;
    padding: 0;
    text-align: center;
  }

  .rest .row {
    display: flex;
    top: 0;
    left: 0;
    margin: 10%;
  }

  .rest .row .card {
    margin: 0 auto;

  }

  @media only screen and (max-width: 762px) {
    .rest .row {
      display: block !important;
    }

    .card {
      width: 100%;
      display: block !important;
      margin: 0 auto;
      font-size: 2rem;
    }

    .card img {
      height: 70%;
      width: 70%;
      margin-top: 50%;
    }

    .rest{
      margin-top:20%;
    }
  }


  .rest h1{
    text-align:center;
    font-weight:bolder;
    display:block;
    margin-bottom:20%;
  }
</style>


<div class="rest container">

  <h1>Internship </h1>



  <div class="row"">
        <div class=" card">
    <img src="{% static 'aside/internship/vinayak.jpg' %}" alt="vinayak" />
    <h2>vinayak</h2>
    <h3> Mr. vinayak is B.Tech third year student of CSE in IERT. He currently involve in institute web development project and server maintenance as an intern under the supervision of Dr. B.D. Mazumdar.</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6 card">
    <img src="{% static 'aside/internship/default.jpg' %}" alt="somil" />
    <h2>somil</h2>
    <h3> Mr. somil singh is B.Tech third year student of CSE in IERT. He currently involve in institute web development project and server maintenance as an intern under the supervision of Dr. B.D. Mazumdar.</h3>
  </div>

  <div class="col-md-6 card">
    <img src="{% static 'aside/internship/default.jpg' %}" alt="devesh" />
    <h2>devesh</h2>
    <h3> Mr. devesh patel is B.Tech third year student of CSE in IERT. He currently involve in institute web development project and server maintenance as an intern under the supervision of Dr. B.D. Mazumdar.</h3>
  </div>




</div>
</div>
{% endblock %}
