{% extends "home/index.html" %}
{% load static %}


{% block side %}
{% endblock %}

{% block start %}
<style>
body{
  background-color: #f2f2f2;
  color: black;
}

.student1 img,.student2 img,.student3 img,.teacher img {
  margin-left: 25%;
  border: 2px solid black;
}


.info1, .info2, .info3,.infot{
  text-align: center;
  margin: 1rem;
  visibility: hidden;

}
.student1:hover .info1{
  visibility: visible;
}
.student2:hover .info2{
  visibility: visible;
}
.student3:hover .info3{
  visibility: visible;
}

.teacher:hover .infot{
  visibility: visible;
}
.rest h1{
  text-decoration:underline;
  margin-left:3%;
}
@media only screen and (max-width: 762px){
  .rest h1{
    text-align:center;
    margin:10%;
    font-size:3rem;
    text-decoration:none;
  }
  .rest img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

  }
}

</style>

<div class="rest">
<div class="row">
    <h1> made by</h1>
</div>
<div class="row">

    <div class="student1 col-md-4">
      <img src="{% static "aside/internship/default.jpg" %}" style="height: 20rem;" class="img-responsive img-circle"/>
      <br/>
      <div class="info1">
        <h4>somil singh</h4>
        <h4>9259888898</h4>
        <h4>itssvinayak@gmail.com</h4>
      </div>
    </div>

    <div class="student2 col-md-4">
      <img src="{% static "aside/internship/vinayak.jpg" %}" style="height: 20rem;" class="img-responsive img-circle"/>
      <br/>
      <div class="info2">
        <h4>vinayak sharma</h4>
        <h4>9259888898</h4>
        <h4>itssvinayak@gmail.com</h4>
      </div>
    </div>

    <div class="student3 col-md-4">
      <img src="{% static "aside/internship/default.jpg" %}" style="height: 20rem;" class="img-responsive img-circle"/>
      <br/>
      <div class="info3">
        <h4>devesh patel</h4>
        <h4>9259888898</h4>
        <h4>itssvinayak@gmail.com</h4>
      </div>
    </div>
</div>
<div class="row">
  <h1>under the guidance of</h1>
  <div class="teacher col-md-4 col-md-offset-4">
    <img src="{% static "aside/internship/bi .jpg" %}" style="height: 20rem; width:20rem;" class="img-responsive img-circle"/>
    <br/>
    <div class="infot">
      <h4>Dr.Bireshwar Dass Mazumdar</h4>
      <h4>Associate Professor</h4>
      <h4> Ph.D (IIT BHU) </h4>
      <h4>+91-9307977683</h4>
      <h4>bdmazumdar@iert.ac.in</h4>
    </div>
  </div>
</div>
</div>
{% endblock %}
