{% extends "home/index.html" %}
{% load static %}
{% block start %}

<div class="col-md-8 rest">
  <center>
    <h1>Udbhav</h1>
  </center>
  <hr />
  <div style="font-size: 2rem;">
    This function is organized on 30th of October every year as institute was founded in Degree on 30th of October-2001, since then this day is recognized as foundation day.
    <br/><br/>
    The function comprises of Chief Guest Speech, vast range of musical and cultural events with college annual progress report in academics and curricular activities and prize distribution ceremony in the field of academics, sports and other
    successful students are rewarded for their contribution to the institute.
  </div>
  <br/>
  <br/>
  <br/>

  <img src="{% static "aside/u/u1.jpg" %}" height="110rem" width="110rem" alt="not found" class="img-responsive" style="float: left; margin: 2%;"/>
  <img src="{% static "aside/u/u2.JPG" %}" height="110rem" width="110rem" alt="not found" class="img-responsive" style="float: left; margin: 2%;"/>

  <br />
  <br/>
  <br/>
  <br/>


</div>


{% endblock %}
